.commercial-banner {
  background: #EFF7FF;
  padding-top: 60px;
}
.full-container {
  font-size: 16px;
  line-height: 26px;
  color: #23263B;
}
.full-container h1,
.full-container h2,
.full-container h3,
.full-container h4,
.full-container h5,
.full-container h6 {
  font-family: Ubuntu, Tahoma, Arial, sans-serif;
}
.full-container h1 {
  font-size: 48px;
  font-weight: 700;
  white-space: nowrap;
  margin-top: 60px;
}
.commercial-banner p {
  margin: 24px 0 40px;
}
.full-container .btn-primary {
  color: #ffffff;
  background-color: #dd4814;
  border-color: #dd4814;
  padding: 15px 32px;
}
.full-container .btn-primary:hover,
.full-container .btn-primary:focus {
  background-color: #cd3f0d;
  border-color: #cd3f0d;
}
/* commercial-features */
.commercial-features {
  padding: 100px 0 120px;
}
.full-container h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 58.8px;
  margin-bottom: 24px;
}
.full-container p {
  color: rgb(35 38 59 / 64%);
}
.support-features {
  max-width: 1090px;
  margin: 16px auto 0;
}
.full-container .extra-feature {
  font-weight: 500;
  margin: 40px 0;
  color: #23263B;
  font-size: 18px;
  line-height: 28px;
}
#accordion .accordion-item {
  border-bottom: 1px solid #EEEEEE;
}
#accordion .accordion-button {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #23263B;
  background-color: transparent;
  padding: 20px 0 20px 48px;
  box-shadow: none;
}
#accordion .accordion-button::after,
#accordion .accordion-button::before {
  content: "";
  background-color: #E95420;
  position: absolute;
  transition: opacity 0.3s ease-in;
  top: 50%;
  transform: translateY(-50%);
}
#accordion .accordion-button::after {
  width: 16px;
  height: 2px;
  left: 0;
}
#accordion .accordion-button::before {
  width: 2px;
  height: 16px;
  left: 7px;
}
#accordion .accordion-button:not(.collapsed)::before {
  opacity: 0;
}
.accordion-body {
  padding: 0 0 20px 48px;
  color: rgb(35 38 59 / 64%);
}
.accordion-body :last-child {
  margin-bottom: 0;
}
/* pricing-model */
.pricing-model {
  background-color: #B6B7D514;
  padding: 24px 0 120px;
}
.pricing-model h2 {
  margin-top: 75px;
}
/* questions */
.questions {
  background: #23263B;
  padding: 60px 0 80px;
}
.full-container .questions p {
  color: rgb(255 255 255 / 64%);
  margin-bottom: 24px;
}

@media(max-width:1024px) {
  .full-container h1,
  .pricing-model h2 {
    margin-top: 0;
  }
}
@media(max-width:767px) {
  .support-features .row {
    flex-direction: column;
  }
  .full-container h1 {
    font-size: 32px;
    white-space: pre-wrap;
  }
  .full-container h2 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  .commercial-features {
    padding: 40px 0 50px;
  }
  .pricing-model h2 {
    margin-top: 15px;
  }
  .questions {
    padding: 30px 0 50px;
  }
}
