---
# Front matter added to ensure Jekyll processes file.
---

/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
body {
  position: relative;
}
.affix {
  width: auto;
  position: static;
}
/* Use only web safe fonts when font-smoothing is not enabled */
html.hasFontSmoothing-false body,
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,
.tooltip,.popover
{
    font-family: Tahoma, Arial, sans-serif;
}
html.hasFontSmoothing-false code,kbd,pre,samp {
    font-family: Courier New, monospace;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1024px) {
  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }
  .affix {
    position: fixed;
    top: 50px;
    width: auto;
	  margin-top: 50px;
  }
}
.tab-content {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 50px;
}
.nav-tabs {
    margin-top: 10px;
}
pre{
  /* code aria */
  background-color: #ffffff;
  color: #000000;
}
a.undecor {
  text-decoration: none;
  color: black;
}
hr {
    /* simple hr */
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #ddd;
}

.footer-container {
  width: calc(100vw - 40px);
  margin: auto;
  overflow: hidden;
}

.footer-container .nav.navbar-nav {
  margin: 10px 0 0 0;
}

.footer-container .btn-link {
  padding: 8px 2px;
}

.row-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #E8E8E8;
    padding: 10px 0 30px 0;
}
.jumbotron {
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 0;

}
.btn-code {
  font-family: monospace;
  text-decoration: none;
  background-color: white !important;
  color: #000000 !important;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
code {
  background-color: rgba(0,0,0,0.04) !important;
  color: inherit;
}
/* Override Bootstrap's CSS to not force specific fonts */
code,kbd,pre,samp {
  font-family: monospace;
}
div.short-news {height: 200px;	overflow-y: hidden;}
short-news p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail{
  height: 240px;
  padding: 8px;
  margin: 0;
}
div.caption h2{
  margin-top: 0;
}
h2{
  font-size: 32px;
}
#gh-btn{/*for git like counter*/
  padding-top: 8px;
  height:25px;
}
#gh-count{/*for git like counter*/
  padding-top: 8px;
  height:25px;
}
#jumbo-features{
  background: url({{ site.baseurl }}/img/rspamd_jumbotron_features.png);
  background-size: cover;
}
#jumbo-performance{
  background: url({{ site.baseurl }}/img/rspamd_jumbotron_performance.png);
  background-size: cover;
}
#jumbo-head{
  background: url({{ site.baseurl }}/img/rspamd_jumbotron.png);
  background-size: cover;
}
#jumbo-rmilter{
  background: url({{ site.baseurl }}/img/rmilter_jumbotron.png);
  background-size: cover;
}

#wrapper {/*for removing wite space after footer*/
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  padding-top: 50px;
  box-sizing: border-box;
}

.breadcrumb{
  background-color: transparent;
  padding-left: 0;
}
ul.nav-stacked li a{
  padding-top: 5px;
  padding-bottom: 5px;
}
.compare-table span.icon-red {
    color: rgb(250, 57, 57);
}

.compare-table span.icon-green {
    color: #00E025;
}

table {
  border-radius: 4px;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 2px 2px 8px #ddd;
  margin: 0 0 10px;
}
tr:nth-child(2n) {
  background-color: #f8f8f8;
}
th, td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 6px 13px;
}
td:last-child {
  border-right: none;
}
table tr:last-child td {
  border-bottom: none;
}
thead th:first-child {
  border-radius: 4px 0 0 0;
}
thead th:last-child {
  border-radius: 0 4px 0 0;
  border-right: medium none;
}
tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}

.table-responsive{
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
}
tr.info th{
  padding-left: 30px !important;
  background-color: #E8E8E8 !important;
}
.table-responsive thead tr th{
  border-bottom: 0 !important;
}
table.table{
  margin-bottom: 0 !important;
}

/* Anchors for headings */
.header-link {
  position: relative;
  left: 0.6em;
  opacity: 0;
  font-size: 0.8em;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

.carousel-control {
  width: 10%;
  border-radius: 4px;
}
.who-uses{
  padding-left: 10px;
  padding-right: 10px;
}

blockquote {
  font-size: 14px;
  border-left: solid #E8E8E8 3px;
}
.carousel-content img{
  margin-bottom: 2px;
}
.btn-pp{
  background-color: #ffcc66;
  border: 1px solid #ff9933;
  color: #000;
}
.btn-pp:hover{
  background-color:#feb74b;
  color: #000;
}

@media (max-width: 768px) {
  .who-uses blockquote{
    font-size: 10px;
  }
}
.news_row{
  background-image: linear-gradient(to right, #E8E8E8 0%, white 30%, white 70%, #E8E8E8 100%);
  border-radius: 4px;
  margin-right: -5px;
  margin-left: -5px;
  margin-top: 20px;
  padding: 10px;
}
@media (min-width: 768px) {
  .bottom-right {
    position: absolute;
    bottom: 15px;
    right: 10px;
  }
}

.nav > li.dropdown.open {
  position: static;
}

.nav > li.dropdown.open .dropdown-menu {
  display: table;
  border-radius: 0px;
  width: 100%;
  left: 0;
  right: 0;
  table-layout: fixed;
}

.dropdown-menu > li {
  display: table-cell;
  font-weight: bold;
  font-size: 18px;
}

.dropdown-menu ul {
  list-style: none;
  padding-left: 0;
  font-weight: normal;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .dropdown-menu > li {
    display: block;
  }
}

ul.dropdown-menu > li {
  padding: 0 10px;
  line-height: 150%;
}

ul.dropdown-menu {
  padding: 20px 20px 50px 20px;
  background-color: #E8E8E8;
}

li.tb-row {
  display: table-row !important;
  font-size: 18px;
  height: 40px;
}

li.tb-row a {
  padding-left: 10px !important;
  font-weight: bold;
  color: #dd4814;
}

li.tb-row a:hover,  li.tb-row a:focus{
  background-color: transparent !important;
  text-decoration: underline;
  color: #993300;
}

.fix {
  text-align: center;
  width: 10ch;
  background: #428dc9;
  display: block;
  font-weight: bold;
}

.critfix {
  text-align: center;
  width: 10ch;
  background: #ff3300;
  font-weight: bold;
  display: block;
}

.feature {
  text-align: center;
  width: 10ch;
  background: #6cc644;
  font-weight: bold;
  display: block;
}

.rework {
  text-align: center;
  width: 10ch;
  background: #9361cc;
  display: block;
  font-weight: bold;
}

.conf {
  text-align: center;
  width: 10ch;
  background: #99ccff;
  display: block;
  font-weight: bold;
}

.rules {
  text-align: center;
  width: 10ch;
  background: #ffff66;
  display: block;
  font-weight: bold;
}

.dl-horizontal dt {
  overflow: inherit;
  width: 75px;
}

.dl-horizontal dd {
  margin-left: 0px;
}

@media (max-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 75px;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.donate button {
  border: 1px solid #CCC;
  height: 30px;
  margin: 9px 14px;
  line-height: 10px;
}

.dl-changes {
  margin-left: 20px;
}

div#toc {
  display: inline-block;
  padding: 10px;
  border: 1px solid #AAA;
  background-color: #FAFAFA;
}
.toc-header{
  text-align: center;
}

.edit-btn {
  margin-left: 20px;
  font-size: 14px;
  border: none;
  background-color: #e8e7e7;
  border-radius: 5px;
  padding: 4px 10px;
  position: sticky;
  top: 10px;
  right: 0;
  outline: none;
}

.button-fixed-bottom {
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  background: #dc4813;
  color: white;
  border: none;
  padding: 12px 15.5px;
}
.button-fixed-bottom:hover {
  background: #ca3e0c;
  color: white;
}

.term {
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
}
.term::selection {
  background: #0080ff;
  text-shadow: none;
}

.ais-SearchBox { margin: 1em 0; }
