</div>
<!-- Site footer -->
<footer class="row-footer footer mt-auto px-3 py-2 z-0">
    <div class="row">
        <!-- Social buttons -->
        <div class="col d-inline-flex">
            <a class="btn btn-xs btn-social-icon me-1 btn-primary" target="_blank" href="https://lists.rspamd.com/" data-bs-toggle="tooltip" data-bs-title="Mailing lists"><i class="fa-solid fa-envelope my-auto"></i></a>
            <a class="btn btn-xs btn-social-icon me-1 btn-reddit" target="_blank" href="ircs://irc.oftc.net/rspamd" data-bs-toggle="tooltip" data-bs-title="#rspamd on OFTC">
                <p style="font-size:80%">IRC</p>
            </a>
            <a class="btn btn-xs btn-social-icon me-1 btn-telegram" target="_blank" href="https://t.me/rspamd" data-bs-toggle="tooltip" data-bs-title="Telegram"><i class="fa-solid fa-paper-plane my-auto"></i></a>
            <a class="btn btn-xs btn-social-icon me-1 btn-telegram" target="_blank" href="https://t.me/rspamd_ru" data-bs-toggle="tooltip" data-bs-title="Telegram RU">
                <span class="fa-layers fa-fw my-auto">
                    <i class="fa-solid fa-paper-plane"></i>
                    <i class="fa-solid fa-star fa-flip-vertical" style="color: red" data-fa-transform="shrink-13 left-4"></i>
                    <i class="fa-solid fa-star fa-flip-vertical" style="color: red" data-fa-transform="shrink-13 right-4 down-4"></i>
                </span>
            </a>
            <a class="btn btn-xs btn-social-icon me-1 btn-github" target="_blank" href="https://github.com/rspamd/rspamd/discussions" data-bs-toggle="tooltip" data-bs-title="GitHub Discussions"><i class="fa-brands fa-github my-auto"></i></a>
        </div>
        <div class="col-auto d-inline-flex">
            <a class="btn btn-xs btn-social-icon me-1 btn-primary" target="_blank" href="{{ site.baseurl }}/sitemap.html" data-bs-toggle="tooltip" data-bs-title="Site map"><i class="fa-solid fa-folder-tree my-auto"></i></a>
        </div>
        <div class="col d-inline-flex">
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_SVG' async></script>

<script>
    /* global TypeHelpers */
    (() => {
        "use strict";

        function anchorForId(id) {
            const anchor = document.createElement("a");
            anchor.className = "header-link";
            anchor.href = "#" + id;
            anchor.innerHTML = "<i class=\"fa-solid fa-link\"></i>";
            return anchor;
        }

        function linkifyAnchors(level, containingElement) {
            const headers = containingElement.getElementsByTagName("h" + level);
            for (let h = 0; h < headers.length; h++) {
                const header = headers[h];

                if (typeof header.id !== "undefined" && header.id !== "") {
                    header.appendChild(anchorForId(header.id));
                }
            }
        }

        TypeHelpers.insertClasses();


        $(document).ready(() => {
            const [contentBlock] = $(".linkify-headers");
            if (contentBlock) {
                for (let level = 2; level <= 6; level++) {
                    linkifyAnchors(level, contentBlock);
                }
            }

            // Open tab containing anchor from external link
            const targetAnchor = $(window.location.hash);
            const tabId = targetAnchor.closest(".tab-pane").attr("id");
            if (typeof tabId !== "undefined") $('[data-bs-target="#' + tabId + '"]').tab("show");

            // Initialize tooltips
            $('[data-bs-toggle="tooltip"]').tooltip();

            // Stop video on closing tab panels
            $(".video-tab").on("hide.bs.tab", () => {
                const iframe = ".video-pane.active iframe";
                $(iframe).attr("src", $(iframe).attr("src"));
            });
        });
    })();
</script>
