<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <!--
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
	-->

    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <!-- for glyphicons -->
    <link href="{{ site.baseurl }}/css/bootstrap-social.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/font-awesome.min.css" rel="stylesheet">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
    <!-- Ubuntu fonts from google -->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{ site.baseurl }}/js/lib/TypeHelpers.min.js"></script>
    <!-- Algolia search -->
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.20.0/dist/algoliasearch-lite.umd.js" integrity="sha256-DABVk+hYj0mdUzo+7ViJC6cwLahQIejFvC+my2M/wfM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.60.0/dist/instantsearch.production.min.js" integrity="sha256-9242vN47QUX50UG5Gf5XDO1YREWCEJRyXHofh5fsl24=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.1.0/themes/satellite-min.css" integrity="sha256-p/rGN4RGy6EDumyxF9t7LKxWGg6/MZfGhJM/asKkqvA=" crossorigin="anonymous">    
    <link rel="icon" href="{{ site.baseurl }}/favicon.png?v=2" type="image/png"/>
    <link rel="alternate" type="application/rss+xml" title="Rspamd news" href="{{ site.baseurl }}/feed.xml">
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-5492966-5', 'auto');
        ga('send', 'pageview');

    </script>
    <script type="module" src="{{ site.baseurl }}/js/lib/docsearch.js"></script>
    <style>
        .r-nav-container {
            padding-right: 18px;
        }

        .donate button {
            border: 1px solid #fff;
        }

        .r-nav-container .navbar-toggle {
            margin-right: 0;
            border-color: #fff !important;
        }

        .r-nav-container .navbar-toggle:hover {
            border-color: #97310e !important;
        }

        @media screen and (min-width: 768px) and (max-width: 896px) {
            .navbar-nav > li > a {
                padding: 15px 10px;
                font-size: 12px;
            }

            .donate button {
                font-size: 12px;
            }
        }
    </style>
</head>

<!--body style="padding-top: 50px" data-offset="50"-->

<body>
    <!-- Navigation -->
    <div id="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="r-nav-container">
            <div class="navbar-header">
                <!--toggle button for xs-size-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/rspamd_logo_navbar.png" style="width: 67px; margin-top: -13px;"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ site.baseurl }}/downloads.html">Downloads <i class="fa fa-lg fa-download"></i></a></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentation
                           <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="tb-row"><a href="{{ site.baseurl }}/doc/index.html">Documentation index <small><i class="fa fa-chevron-right"></i></small></a></li>
                            <li>Installation and Administration
                              <ul>
                                <li><a href="{{ site.baseurl }}/doc/quickstart.html">Quick start</a></li>
                                <li><a href="{{ site.baseurl }}/doc/faq.html">FAQ</a></li>
                                <li><a href="{{ site.baseurl }}/doc/integration.html">MTA integration</a></li>
                                <li><a href="{{ site.baseurl }}/doc/migration.html">Upgrading notes</a></li>
                                <li><a href="{{ site.baseurl }}/webui/">Rspamd WebUI</a></li>
                                <li><a href="{{ site.baseurl }}/doc/gtube_patterns.html">GTUBE-like test patterns</a></li>
                                <li><a href="{{ site.baseurl }}/doc/tutorials/migrate_sa.html">Migrating from SA</a></li>
                                <li><a href="{{ site.baseurl }}/doc/tutorials/site_contributing.html">Contributing to rspamd.com web-site</a></li>
                                <li><a href="{{ site.baseurl }}/doc/configuration/redis.html">Using Redis in Rspamd</a></li>
                                <li><a href="{{ site.baseurl }}/doc/tutorials/redis_replication.html">Replication in Redis</a></li>
                                <li><a href="{{ site.baseurl }}/doc/tutorials/scanning_outbound.html">How to scan outbound emails</a></li>
                                <li><a href="{{ site.baseurl }}/doc/tutorials/stunnel_setup.html">Setup stunnel to protect Redis</a></li>
                              </ul>
                            </li>
                            <li>Configuration guide
                              <ul>
                                <li><a href="{{ site.baseurl }}/doc/configuration/">Configuration structure <small><i class="fa fa-chevron-right"></i></small></a>
                                  <ul style="padding-left: 30px; list-style-type: circle;">
                                    <li><a href="{{ site.baseurl }}/doc/configuration/settings.html">Users settings description</a></li>
                                    <li><a href="{{ site.baseurl }}/doc/configuration/options.html">Top-level options</a></li>
                                    <li><a href="{{ site.baseurl }}/doc/configuration/logging.html">Logging setup</a></li>
                                    <li><a href="{{ site.baseurl }}/doc/configuration/metrics.html">Metrics, actions and symbols</a></li>
                                    <li><a href="{{ site.baseurl }}/doc/configuration/composites.html">Composite symbols</a></li>
                                    <li><a href="{{ site.baseurl }}/doc/configuration/statistic.html">Statistical module</a></li>
                                    <li><a href="{{ site.baseurl }}/doc/configuration/selectors.html">Using selectors</a></li>
                                  </ul>
                                </li>
                                <li><a href="{{ site.baseurl }}/doc/modules/">Modules documentation</a></li>
                                <li><a href="{{ site.baseurl }}/doc/workers/">Workers documentation</a></li>
                                <li><a href="{{ site.baseurl }}/doc/rspamadm.html">Rspamadm utilities</a></li>
                                <li><a href="{{ site.baseurl }}/doc/usage_policy.html">Rspamd data usage policies</a></li>
                                <li><a href="{{ site.baseurl }}/doc/configuration/upstream.html">Upstreams article</a></li>
                              </ul>
                            </li>
                            <li>Developers documentation</a>
                              <ul>
                                <li><a href="{{ site.baseurl }}/doc/lua/">Lua API reference</a></li>
                                <li><a href="{{ site.baseurl }}/doc/lua/examples.html">Lua rules examples</a></li>
                                <li><a href="{{ site.baseurl }}/doc/tutorials/writing_rules.html">Writing Rspamd rules</a></li>
                                <li><a href="{{ site.baseurl }}/doc/fuzzy_storage.html">Creating your fuzzy storage</a></li>
                                <li><a href="{{ site.baseurl }}/doc/architecture/index.html">Architecture information</a></li>
                                <li><a href="{{ site.baseurl }}/doc/architecture/protocol.html">Protocol documentation</a></li>
                              </ul>
                            </li>
                            <li>External resources
                              <ul>
                                <li><a href="https://thomas-leister.de/en/mailserver-debian-stretch/">Own mail server based on Dovecot, Postfix, MySQL, Rspamd and Debian Stretch</a></li>
                                <li><a href="https://www.c0ffee.net/blog/mail-server-guide">Mail self-hosting on FreeBSD using Postfix, Dovecot, Rspamd, and LDAP</a></li>
                                <li><a href="http://www.0xf8.org/2018/05/an-alternative-introduction-to-rspamd-configuration-introduction/">An alternative introduction to rspamd configuration</a></li>
                              </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/blog/">News</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/doc/usage_policy.html">Usage policies</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/commercial.html">Commercial support</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/support.html">Community</a>
                    </li>
                    <li>
                        <a href="https://bl.rspamd.com/" target="_blank">List removal</a>
                    </li>
                    <li>
                        <a href="https://github.com/rspamd/rspamd" target="_blank"><i class="fa fa-lg fa-github" aria-hidden="true"></i>&nbsp;Github</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="ais-InstantSearch">
                            <div id="docsearch"></div>
                            <div id="hits"></div>
                            <div id="pagination"></div>
                        </div>
                    </li>
                    <li>
                        <a class="btn" target="_blank" href="https://github.com/rspamd/rspamd.com/edit/master/{{ page.path }}"
                            title="Edit the current page and create a pull request on GitHub"><i class="fa fa-lg fa-pencil"></i>&nbsp;Edit</a>
                    </li>
                    <li>
                        <form class="donate" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <fieldset>
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="32NL9H6JS6K9C">
                                <input name="currency_code" value="GBP" type="hidden"/>
                                <input name="no_shipping" value="1" type="hidden"/>
                                <button type='submit' class='btn btn-primary'>Donate</button>
                            </fieldset>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
