---
layout: default
title: Rspamd Blog
pagination:
  enabled: true
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<!-- Ubuntu Pagination links -->
<ul id="post-pagination" class="pagination pagination-lg">
  {% if paginator.previous_page %}
    <li class="page-item">
      {% if paginator.previous_page == 1 %}
        <a class="page-link" href="{{ site.baseurl }}/blog/">&laquo;</a>
      {% else %}
        <a class="page-link" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">&laquo;</a>
      {% endif %}
    </li>
  {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
  {% endif %}

    <li class="page-item {% if paginator.page == 1 %}active{% endif %}">
      {% if paginator.page == 1 %}
        <span class="page-link current-page">1</span>
      {% else %}
        <a class="page-link" href="{{ site.baseurl }}/blog/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
      <li class="page-item {% if paginator.page == count %}active{% endif %}">
        {% if count == paginator.page %}
          <span class="page-link current-page">{{ count }}</span>
        {% else %}
          <a class="page-link" href="{{ site.baseurl }}/blog/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}

  {% if paginator.next_page %}
    <li class="page-item">
      <a class="page-link" href="{{ site.baseurl }}{{ paginator.next_page_path }}">&raquo;</a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  {% endif %}
</ul>
