{% include top.html %}
<style>
	.r-container ul, .r-container ol {
		padding-left: 15px;
	}

	h1 {
		margin: 40px 0 20px;
	}

	h2 {
		font-size: 24px;
	}

	#full-list-of-the-meaningful-changes + ul {
		display: none;
	}

	#full-list-of-the-meaningful-changes + ul.visible {
		display: block;
		list-style: none;
		padding: 0;
	}

	.pagination > .active > span {
		color: #ffffff !important;
		background-color: #de4700 !important;
		border-color: #de4700 !important;
	}

	.r-post-changes {
		font-size: 14px;
		font-weight: bold;
		position: relative;
		display: inline-block;
	}

	.r-post-changes:hover {
		cursor: pointer;
		text-decoration: underline;
	}

	.r-post-changes svg {
		padding: 0 5px;
		position: relative;
	}
</style>

	<div class="r-container container-fluid w-auto mx-2">
		{{ content }}
	</div>
{% include bottom.html %}

<script>
    $(document).ready(() => {
        "use strict";
        $('h2:contains("Full list of the meaningful changes")')
            .addClass("r-post-changes")
            .append('<i class="fa-solid fa-chevron-down"></i>')
            .on("click", (e) => {
                $(e.currentTarget).toggleClass("open");
                $(e.currentTarget).next().toggleClass("visible");
            });
    });
</script>
</body>
</html>
