<!-- remove the white space after footer-->
{% include top.html %}

<style>
	.r-docs-container {
		width: calc(100vw - 44px);
		margin: auto;
		overflow: hidden;
	}

	.r-docs-nav {
		width: 300px;
		position: fixed;
		top: 70px;
		overflow: scroll;
		height: calc(100vh - 70px);
		margin-left: -2px;
		padding-left: 2px;
		padding-bottom: 80px;
	}

	.r-docs-nav ul {
		list-style: none;
		padding-left: 15px;
	}

	.r-docs-nav > ul {
		padding-left: 0;
		padding-right: 28px;
	}

	.r-docs-subnav {
		border-top: 1px solid #e4e4e4;
		position: relative;
	}

	.r-docs-subnav:first-child {
		border-top: none;
	}

	.r-docs-subnav.active-subnav:before {
		content: '';
		position: absolute;
		top: -1px;
		bottom: -1px;
		left: 0;
		width: 2px;
		background-color: #de4700;
	}

	.r-docs-subnav > ul {
		display: none;
		padding-left: 21px;
		padding-bottom: 6px;
	}

	.r-docs-subnav.active-subnav > ul {
		display: block;
	}

	.r-docs-subnav.active-subnav > a {
		font-weight: bold;
	}

	.r-docs-nav a {
		color: black;
		display: block;
		padding: 8px 5px 5px 8px;
		line-height: 1;
	}

	.r-docs-nav .r-docs-subnav ul a {
		padding: 5px 0;
	}

	.r-docs-nav a.active-link {
		font-weight: bold;
		color: #de4700;
	}

	.r-docs-content {
		width: calc(100% - 300px);
		margin-left: 300px;
		padding-top: 60px;
		margin-top: -60px;
	}


	.r-docs-content h1, .r-docs-content h2, .r-docs-content h3 {
		padding-top: 70px;
		margin-top: -50px;
		display: flex;
    justify-content: start;
    align-items: center;
    line-height: 2;
	}

	@media screen and (max-width: 768px) {
		.r-docs-nav {
			width: 100%;
			position: static;
			height: auto;
			margin-top: 10px;
			overflow: visible;
			padding-bottom: 0;
		}

		.r-docs-content {
			width: 100%;
			margin-left: 0;
		}

		.r-docs-nav > ul {
			padding-right: 0;
		}
	}

</style>

<div class="r-docs-container">
	<div class="r-docs">
		<div class="r-docs-nav">
			<ul>
				<li class="r-docs-subnav">
					<a href="{{ site.baseurl }}/doc/index.html">About Rspamd</a>
					<ul>
							<li><a href="{{ site.baseurl }}/downloads.html">Downloads</a></li>
							<li><a href="{{ site.baseurl }}/features.html">Features</a></li>
							<li><a href="{{ site.baseurl }}/performance.html">Performance</a></li>
							<li><a href="{{ site.baseurl }}/comparison.html">Comparison</a></li>
							<li><a href="{{ site.baseurl }}/media.html">Videos about Rspamd</a></li>
					</ul>
				</li>

				<li class="r-docs-subnav">
					<a href="#">Tutorials and Guides</a>
					<ul>
						<li><a href="{{ site.baseurl }}/doc/quickstart.html">Quick start</a></li>
						<li><a href="{{ site.baseurl }}/doc/integration.html">MTA integration</a></li>
						<li><a href="{{ site.baseurl }}/doc/migration.html">Upgrading</a></li>
						<li><a href="{{ site.baseurl }}/doc/fuzzy_storage.html">Own fuzzy storage</a></li>
						<li><a href="{{ site.baseurl }}/doc/tutorials/redis_replication.html">Replication in Redis</a></li>
            <li><a href="{{ site.baseurl }}/doc/tutorials/scanning_outbound.html">How to scan outbound emails</a></li>
            <li><a href="{{ site.baseurl }}/doc/tutorials/stunnel_setup.html">Setup stunnel to protect Redis</a></li>
					</ul>
				</li>

				<li class="r-docs-subnav">
						<a href="{{ site.baseurl }}/doc/faq.html">FAQ</a>
				</li>

				<li class="r-docs-subnav">
					<a href="{{ site.baseurl }}/doc/configuration/index.html">Rspamd configuration</a>
					<ul>
						<li><a href="{{ site.baseurl }}/doc/configuration/ucl.html">Universal configuration language (UCL)</a></li>
						<li><a href="{{ site.baseurl }}/doc/configuration/composites.html">Composite symbols</a></li>
						<li><a href="{{ site.baseurl }}/doc/configuration/logging.html">Logging setup</a></li>
						<li><a href="{{ site.baseurl }}/doc/configuration/metrics.html">Symbols scores and metrics setup</a></li>
						<li><a href="{{ site.baseurl }}/doc/configuration/options.html">Common options</a></li>
						<li><a href="{{ site.baseurl }}/doc/configuration/redis.html">Redis server setup</a></li>
						<li><a href="{{ site.baseurl }}/doc/configuration/statistic.html">Statistical module setup</a></li>
						<li><a href="{{ site.baseurl }}/doc/configuration/settings.html">Users settings</a></li>
						<li><a href="{{ site.baseurl }}/doc/configuration/upstream.html">Upstreams setup</a></li>
						<li><a href="{{ site.baseurl }}/doc/configuration/selectors.html">Selectors</a></li>
					</ul>
				</li>

				<li class="r-docs-subnav">
					<a href="{{ site.baseurl }}/doc/modules/">Modules documentation</a>
					<ul>
						<li><a href="{{ site.baseurl }}/doc/modules/antivirus.html"><strong>Antivirus</strong></a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/arc.html">ARC module</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/asn.html">ASN module</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/bayes_expiry.html">Bayes expiry module</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/clickhouse.html"><strong>Clickhouse module</strong></a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/chartable.html">Chartable</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/dcc.html">DCC module</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/dkim.html">DKIM</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/dkim_signing.html">DKIM signing</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/dmarc.html">DMARC</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/elastic.html">Elasticsearch exporter</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/emails.html">Emails scan</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/external_relay.html">External relay</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/external_services.html"><strong>External services</strong></a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/force_actions.html"><strong>Force Actions</strong></a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/fuzzy_check.html">Fuzzy check</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/greylisting.html">Greylisting module</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/hfilter.html">Hfilter</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/history_redis.html">History redis module</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/known_senders.html">Known senders module</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/maillist.html">Mailing list</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/metadata_exporter.html">Metadata exporter</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/metric_exporter.html">Metric exporter</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/mid.html">MID module</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/milter_headers.html"><strong>Milter headers</strong></a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/mime_types.html">Mime types</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/multimap.html"><strong>Multimap</strong></a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/mx_check.html">MX Check</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/neural.html">Neural network module</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/phishing.html">Phishing check</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/ratelimit.html"><strong>Ratelimit</strong></a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/rbl.html"><strong>RBL</strong></a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/regexp.html"><strong>Regexp</strong></a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/reputation.html">Reputation</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/once_received.html">Received policy</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/replies.html">Replies module</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/rspamd_update.html">Rspamd update</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/spamassassin.html">Spamassassin rules</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/spamtrap.html">Spamtrap</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/spf.html">SPF</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/trie.html">Trie matcher</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/url_redirector.html">URL redirector</a></li>
						<li><a href="{{ site.baseurl }}/doc/modules/whitelist.html">Whitelist</a></li>
					</ul>
				</li>

				<li class="r-docs-subnav">
					<a href="{{ site.baseurl }}/doc/workers/">Workers documentation</a>
					<ul>
						<li><a href="{{ site.baseurl }}/doc/workers/normal.html">Normal worker (scanner)</a></li>
						<li><a href="{{ site.baseurl }}/doc/workers/rspamd_proxy.html">Proxy worker</a></li>
						<li><a href="{{ site.baseurl }}/doc/workers/controller.html">Controller worker</a></li>
						<li><a href="{{ site.baseurl }}/doc/workers/fuzzy_storage.html">Fuzzy hashes storage</a></li>
					</ul>
				</li>

				<li class="r-docs-subnav">
					<a href="#">Developers documentation</a>
					<ul>
						<li><a href="{{ site.baseurl }}/doc/tutorials/writing_rules.html">Writing Rspamd rules</a></li>
						<li><a href="{{ site.baseurl }}/doc/lua/sync_async.html">Coroutines and async calls</a></li>
						<li><a href="{{ site.baseurl }}/doc/architecture/index.html">Architecture information</a></li>
						<li><a href="{{ site.baseurl }}/doc/architecture/protocol.html">Protocol documentation</a></li>
						<li><a href="{{ site.baseurl }}/doc/tutorials/writing_tests.html">Writing Rspamd tests</a></li>
						<li><a href="{{ site.baseurl }}/doc/lua/examples.html">Useful Lua rules examples</a></li>
					</ul>
				</li>

				<li class="r-docs-subnav">
					<a href="{{ site.baseurl }}/doc/lua/">Lua API reference</a>
					<ul>
						<li>
							<a href="#">Rspamd Lua C API</a>
							<ul>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_task.html">Task module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_mimepart.html">Message parts module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_config.html">Configuration module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_html.html">Html module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_map.html">Maps module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/ucl.html">UCL module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_regexp.html">Regexp module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_ip.html">IP module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_http.html">HTTP module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_trie.html">Trie module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_resolver.html">DNS module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_expression.html">Expression module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_redis.html">Redis module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_upstream.html">Upstream module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_logger.html">Logger module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_cryptobox.html">Cryptobox module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_url.html">URL module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_tcp.html">TCP client module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_udp.html">UDP client module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_mempool.html">Memory pool module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_util.html">Utilities module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/rspamd_text.html">Rspamd text module</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Rspamd Plain Lua API</a>
							<ul>
								<li><a href="{{ site.baseurl }}/doc/lua/lua_redis.html">Redis module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/lua_util.html">Utilities module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/lua_maps.html">Maps module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/lua_selectors.html">Selectors module</a></li>
								<li><a href="{{ site.baseurl }}/doc/lua/lua_clickhouse.html">Clickhouse module</a></li>
							</ul>
					</ul>
				</li>

				<li class="r-docs-subnav">
					<a href="#">Other topics</a>
					<ul>
						<li><a href="{{ site.baseurl }}/doc/gtube_patterns.html">GTUBE-like test patterns</a></li>
						<li><a href="{{ site.baseurl }}/doc/tutorials/site_contributing.html">Contributing to web-site</a></li>
						<li><a href="{{ site.baseurl }}/doc/tutorials/feedback_from_users_with_IMAPSieve.html">Getting feedback from users with IMAPSieve</a></li>
						<li><a href="{{ site.baseurl }}/doc/rspamadm.html">Rspamadm command</a></li>
						<li><a href="{{ site.baseurl }}/doc/usage_policy.html">Rspamd fuzzy feed and DNSBL usage policies</a></li>
					</ul>
				</li>

				<li class="r-docs-subnav">
					<a href="#">External resources</a>
					<ul>
						<li><a href="https://thomas-leister.de/en/mailserver-debian-stretch/" target="_blank">Dovecot, Postfix, MySQL, Rspamd on Debian 9 Stretch</a></li>
						<li><a href="http://www.0xf8.org/2018/05/an-alternative-introduction-to-rspamd-configuration-introduction/" target="_blank">Alternative introduction</a></li>
						<li><a href="https://www.c0ffee.net/blog/mail-server-guide" target="_blank">Postfix, Dovecot, Rspamd, and LDAP on FreeBSD</a></li>
						<li><a href="https://github.com/vedetta-com/caesonia" target="_blank">OpenBSD Email Service relying on Rspamd</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="r-docs-content doc-content">
			{{ content }}
		<a class="button-fixed-bottom" href="#top"><i class="fa fa-arrow-up"></i></a>
		</div>
		</div>
		
</div>
{% include bottom.html %}
<script>
    $( document ).ready(function() {
        $('.r-docs-subnav').on('click', function(e) {
            if (!$( this ).hasClass( 'active-subnav' )) {
                $('.r-docs-subnav.active-subnav').removeClass('active-subnav');
                $(this).addClass('active-subnav');
            }
        });

    $('.r-docs-nav a[href$="' + window.location.pathname + '"]').addClass('active-link')
			.closest('.r-docs-subnav').addClass('active-subnav');

    var path = "{{ page.path }}";
		$("h1").append('<a target="_blank" href="https://github.com/rspamd/rspamd.com/edit/master/' + path +
			 '" class="edit-btn undecor"><i class="fa fa-pencil"></i> Edit Page</a>');
    });
</script>
</html>
