<!-- remove the white space after footer-->
{% include top.html %}

{%- assign directory-tree-li = true -%}
{%- assign directory-tree-strong = true -%}
{%- assign directory-tree-del = true -%}
{%- assign directory-tree-dir_class = "r-docs-subnav list-group-item" %}

<style>
	.r-docs-nav {
		width: 300px;
		position: fixed;
		top: var(--navbar-height);
		padding-top: var(--r-docs-nav-padding-top);
		overflow: auto;
		max-height: calc(100vh - var(--navbar-height));
		margin-left: -2px;
		padding-left: 2px;
		padding-bottom: 30px;
	}
	.r-docs-nav a { color: black; }
	.r-docs-nav a.active-link {
		font-weight: bold;
		color: #de4700;
	}
	.r-docs-nav a:not(.active-link) > del { opacity: 0.4; }

	.r-docs-subnav ul {
		list-style: none;
		padding-left: 15px;
	}
	.r-docs-subnav > ul { display: none; }
	.r-docs-subnav ul a { line-height: 1.6;	}

	.r-docs-subnav.active-subnav::before {
		content: '';
		position: absolute;
		top: -1px;
		bottom: -1px;
		left: 0;
		width: 2px;
		background-color: #de4700;
	}
	.r-docs-subnav.active-subnav > ul {	display: block;	}
	.r-docs-subnav.active-subnav > a { font-weight: bold; }

	.r-docs-content { margin-left: 300px; }

	.r-docs-content h1,
	.r-docs-content h2,
	.r-docs-content h3,
	.r-docs-content h4 {
		padding-top: calc(var(--navbar-height) + var(--r-docs-nav-padding-top));
	  	margin-top: calc(14px - var(--navbar-height));
	}

	@media screen and (max-width: 767px) {
		.r-docs-nav {
			width: 100%;
			position: static;
			max-height: unset;
			overflow: visible;
			padding-bottom: 0;
		}
		.r-docs-content { margin-left: 0; }
	}
</style>

<div class="r-docs-container">
	<div class="r-docs-nav px-4">
		<ul class="list-group list-group-flush">
			{% include directory-tree.html dir="/doc/about" %}
			{% include directory-tree.html dir="/doc/tutorials" %}

			<li class="r-docs-subnav list-group-item">
				<a href="{{ site.baseurl }}/doc/faq.html">FAQ</a>
			</li>

			{% include directory-tree.html dir="/doc/configuration" %}
			{% include directory-tree.html dir="/doc/modules" %}
			{% include directory-tree.html dir="/doc/workers" %}

			<li class="r-docs-subnav list-group-item">
				<a href="#">Developers documentation</a>
				<ul>
					{% include directory-tree.html dir="/doc/developers/" %}
				</ul>
			</li>

			<li class="r-docs-subnav list-group-item">
				<a href="{{ site.baseurl }}/doc/lua/">Lua API reference</a>
				<ul>
					<li>
						<a href="#">Rspamd Lua C API</a>
						<ul>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_task.html">Task module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_mimepart.html">Message parts module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_config.html">Configuration module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_html.html">Html module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_map.html">Maps module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/ucl.html">UCL module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_regexp.html">Regexp module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_ip.html">IP module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_http.html">HTTP module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_trie.html">Trie module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_resolver.html">DNS module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_expression.html">Expression module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_redis.html">Redis module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_upstream.html">Upstream module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_logger.html">Logger module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_cryptobox.html">Cryptobox module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_url.html">URL module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_tcp.html">TCP client module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_udp.html">UDP client module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_mempool.html">Memory pool module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_util.html">Utilities module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/rspamd_text.html">Rspamd text module</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Rspamd Plain Lua API</a>
						<ul>
							<li><a href="{{ site.baseurl }}/doc/lua/lua_redis.html">Redis module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/lua_util.html">Utilities module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/lua_maps.html">Maps module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/lua_selectors.html">Selectors module</a></li>
							<li><a href="{{ site.baseurl }}/doc/lua/lua_clickhouse.html">Clickhouse module</a></li>
						</ul>
					</li>
				</ul>
			</li>

			<li class="r-docs-subnav list-group-item">
				<a href="#">Other topics</a>
				<ul>
					{% include directory-tree.html dir="/doc/other/" %}
				</ul>
			</li>

			<li class="r-docs-subnav list-group-item">
				<a href="#">External resources</a>
				<ul>
					<li><a href="https://thomas-leister.de/en/mailserver-debian-stretch/" target="_blank">Dovecot, Postfix, MySQL, Rspamd on Debian 9 Stretch</a></li>
					<li><a href="http://www.0xf8.org/2018/05/an-alternative-introduction-to-rspamd-configuration-introduction/" target="_blank">Alternative introduction</a></li>
					<li><a href="https://www.c0ffee.net/blog/mail-server-guide" target="_blank">Postfix, Dovecot, Rspamd, and LDAP on FreeBSD</a></li>
					<li><a href="https://github.com/vedetta-com/caesonia" target="_blank">OpenBSD Email Service relying on Rspamd</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="r-docs-content linkify-headers px-4">
		{{ content }}
		<a class="button-fixed-bottom position-fixed rounded-circle bottom-0 end-0 m-4 z-2" href="#top">
			<i class="fa-solid fa-lg fa-arrow-up position-absolute translate-middle"></i>
		</a>
	</div>
</div>
{% include bottom.html %}
<script>
    $(document).ready(() => {
        "use strict";

        // Hide/show "back-to-top" floating action button
        const fab = $("a.button-fixed-bottom");
        if ($("html").scrollTop() > 20) fab.show();
        $(window).scroll(() => {
            if ($(this).scrollTop() > 20) {
                fab.fadeIn();
            } else {
                fab.fadeOut();
            }
        });

        $(".r-docs-subnav").on("click", (e) => {
            if (!$(e.currentTarget).hasClass("active-subnav")) {
                $(".r-docs-subnav.active-subnav").removeClass("active-subnav");
                $(e.currentTarget).addClass("active-subnav");
            }
        });

        $('.r-docs-nav a[href$="' + window.location.pathname + '"]').addClass("active-link")
            .closest(".r-docs-subnav").addClass("active-subnav");

        const path = "{{ page.path }}";
        $("h1").append('<a target="_blank" href="https://github.com/rspamd/rspamd.com/edit/master/' + path +
            '" class="edit-btn btn btn-lg text-decoration-none text-reset ms-4"><i class="fa-solid fa-pencil"></i> Edit Page</a>');
    });
</script>
</body>
</html>
