<!-- remove the white space after footer-->
{% include top.html %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.baseurl }}/doc/index.html">Documentation</a></li>
        <li class="active">{{ page.title }}</li>
	</ol>
	<div class="row">
		{{ content }}
    </div>
</div>
<div class="push"></div>
{% include bottom.html %}
<script>
    $( document ).ready(function() {
        var footer = [
            $('<li class="nav-header"><h4>Rspamd documentation</h4></li>'),
            $('<li><a href="{{ site.baseurl }}/doc/index.html">Documentation index</a></li>'),
            $('<li class="divider"></li>'),
            $('<li class="nav-header"><h4>Content</h4></li>'),
        ];

        $("#markdown-toc").addClass("nav nav-pills nav-stacked").attr(
            {"role": "navigation", "data-spy": "affix"});
        var target = $("#markdown-toc")
        footer.reverse().forEach(function(elt) {
            target.prepend(elt);
        });

        var path = "{{ page.path }}";
		$("h1").append('<a target="_blank" href="https://github.com/rspamd/rspamd.com/edit/master/' + path +
			 '" class="edit-btn undecor"><i class="fa fa-pencil"></i> Edit Page</a>');

    });
</script>
</html>