{% include top.html %}
<div class="container">

	<div class="row">
		<ol class="breadcrumb">
			<li><a href="{{ site.baseurl }}/">Home</a></li>
			<li><a href="{{ site.baseurl }}/doc/index.html">Documentation</a></li>
			<li><a href="{{ site.baseurl }}/doc/lua/index.html">Lua Reference</a></li>
			<li class="active">{{ page.title }}</li>
		</ol>
		<div class="col-sm-3">
			<!-- Docs navigation -->
			<ul data-spy="scroll" class="nav nav-pills nav-stacked" role="navigation">
				<li class="nav-header">
					<h4>Rspamd documentation</h4></li>
				<li><a href="{{ site.baseurl }}/doc/index.html">Documentation index</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/index.html">Lua documentation index</a></li>
				<li class="divider"></li>
				<li class="nav-header">Tutorial and generic guides</li>
				<li><a href="{{ site.baseurl }}/doc/tutorials/writing_rules.html">Introduction to rules writing</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/sync_async.html">Coroutines and async calls</a></li>
				<li class="nav-header">Rspamd C based lua modules reference</li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_config.html">Rspamd configuration module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_cryptobox.html">Rspamd cryptobox module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_expression.html">Rspamd expression module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_html.html">Rspamd HTML module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_http.html">Rspamd HTTP module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_ip.html">Rspamd IP module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_logger.html">Rspamd logger module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_map.html">Rspamd map module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_mempool.html">Rspamd memory pool module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_mimepart.html">Rspamd message parts module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_parsers.html">Rspamd message parts module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_redis.html">Rspamd redis module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_regexp.html">Rspamd regexp message module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_resolver.html">Rspamd dns module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_task.html">Rspamd task module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_tcp.html">Rspamd tcp client module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_trie.html">Rspamd trie module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_udp.html">Rspamd UDP module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_upstream.html">Rspamd upstream module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_url.html">Rspamd URL module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_util.html">Rspamd generic utilities</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/ucl.html">Rspamd UCL module (+JSON)</a></li>
				<li class="divider"></li>
				<li class="nav-header">Plain Lua modules reference</li>
				<li><a href="{{ site.baseurl }}/doc/lua/lua_redis.html">Lua redis module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/lua_util.html">Lua general utilities</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/lua_maps.html">Lua maps module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/lua_selectors.html">Lua selectors module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/lua_clickhouse.html">Lua clickhouse module</a></li>
				<!--	<li><a  href="{{ site.baseurl }}/doc/lua/classifier.html">Lua classifier module</a></li> -->
			
			</ul>
		</div>

		<div class="col-sm-9">
			<div class="body-content doc-content">
				{{ content }}
			</div>
		</div>

	</div>
	<!-- row -->

</div>
<!-- /container -->
{% include bottom.html %}
<script>
	$( document ).ready(function() {
		var path = "{{ page.path }}";
		$("h1").append('<a target="_blank" href="https://github.com/rspamd/rspamd.com/edit/master/' + path +
			 '" class="edit-btn undecor"><i class="fa fa-pencil"></i> Edit Page</a>');
	});
</script>
</html>

