{% include top.html %}
<div class="container">

	<div class="row">
		<ol class="breadcrumb">
			<li><a href="{{ site.baseurl }}/">Home</a></li>
			<li><a href="{{ site.baseurl }}/doc/index.html">Documentation</a></li>
			<li><a href="{{ site.baseurl }}/doc/lua/index.html">Lua Reference</a></li>
			<li class="active">{{ page.title }}</li>
		</ol>
		<div class="col-sm-3">
			<!-- Docs navigation -->
			<ul data-spy="scroll" class="nav nav-pills nav-stacked" role="navigation">
				<li class="nav-header">
					<h4>Rspamd documentation</h4></li>
				<li><a href="{{ site.baseurl }}/doc/index.html">Documentation index</a></li>
				<li class="divider"></li>
				<li class="nav-header">Rspamd specific lua modules reference</li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_task.html">Rspamd task module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_mimepart.html">Rspamd message parts module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_config.html">Rspamd configuration module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_html.html">Lua html module</a></li>
				<li class="divider"></li>
				<li class="nav-header">Generic lua modules reference</li>
				<li><a href="{{ site.baseurl }}/doc/lua/ucl.html">UCL module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_regexp.html">Rspamd regexp message module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_ip.html">Rspamd ip module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_http.html">Rspamd http module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_trie.html">Rspamd trie module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_resolver.html">Rspamd dns module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_expression.html">Rspamd expression module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_redis.html">Rspamd redis module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_upstream_list.html">Rspamd upstream module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_logger.html">Rspamd logger module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_cryptobox.html">Rspamd cryptobox module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_url.html">Rspamd url module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_tcp.html">Rspamd tcp client module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_mempool.html">Rspamd memory pool module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_util.html">Rspamd generic utilities</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/rspamd_fann.html">Rspamd neural network interface</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/lua_redis.html">Lua redis module</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/lua_util.html">Lua general utilities</a></li>
				<li><a href="{{ site.baseurl }}/doc/lua/lua_maps.html">Lua maps module</a></li>
				<!--	<li><a  href="{{ site.baseurl }}/doc/lua/classifier.html">Lua classifier module</a></li> -->
			</ul>
		</div>

		<div class="col-sm-9">
			<div class="body-content doc-content">
				{{ content }}
			</div>
		</div>

	</div>
	<!-- row -->

</div>
<!-- /container -->
{% include bottom.html %}
