{% include top.html %}
<!-- remove the white space after footer-->

<style>
	.r-banner {
		background-color: #bde7fb;
		background-image: url("img/r-bg.jpg");
		background-size: cover;
	}
	.r-banner h1 { font-size: 75px;	}
	.r-banner p { font-size: 20px; }
	.r-banner a {
		font-size: 20px;
		padding: 8px 30px;
	}

	.r-tile h2 i {
		position: relative;
		font-size: 21px;
	}

	.r-tile {
		display: flex;
		flex-basis: calc(33.33% - 10px);
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 10px;
		border: 1px solid #dddddd;
		border-radius: var(--bs-border-radius-lg);
		margin: 8px 0;
		min-height: 250px;
		color: #333;
		text-decoration: none;
		transition: all 300ms ease;
	}

	.r-tile:hover {
		color: #333;
		text-decoration: none;
		box-shadow: 0 0 23px 0 rgb(0 0 0 / 0.2);
	}

	.r-tile img {
		width: 80px;
		margin: 10px auto 0;
	}

	.r-tile h2 {
		margin: 10px 0;
		font-size: 28px;
		transition: all 300ms ease;
		text-align: center;
	}
	.r-tile:hover h2 { color: #dd4814; }

	.r-tile p {
		height: 60px;
		text-align: center;
	}

	.who-uses .carousel-content {
		display: flex;
		height: 240px;
		align-items: center;
	}
	.who-uses #text-carousel { background-image: linear-gradient(to right, #E8E8E8, white 30%, white 70%, #E8E8E8); }
	.who-uses .carousel-control-next,
	.who-uses .carousel-control-prev  {
		background: none;
		opacity: 1;
		z-index: 100;
	}

	@media screen and (max-width: 910px) {
		.who-uses .carousel-content {
			height: 280px;
		}
	}

	@media screen and (max-width: 850px) {
		.r-tile {
			flex-basis: calc(50% - 10px);
		}
	}

	@media screen and (max-width: 550px) {
		.r-tile {
			flex-basis: 100%;
			min-height: 0;
		}

		.r-tile p {
			height: auto;
		}

		.who-uses .carousel-content {
			height: 290px;
		}
	}

	@media screen and (max-width: 500px) {
		.r-banner h1 {
			font-size: 50px;
		}

		.r-banner p {
			font-size: 16px;
		}

		.r-banner a {
			font-size: 16px;
		}

		.r-tile h2 {
			font-size: 24px;
		}

		.r-tile h2 i {
			font-size: 16px;
			top: -1px;
		}
	}
</style>
{{ content }}
{% include bottom.html %}
</body>
</html>
