{% include top.html %}
		<div class="container">
				<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
						<li class="breadcrumb-item"><a href="./index.html">Rmilter</a></li>
						<li class="breadcrumb-item active">{{ page.title }}</li>
				</ol>
				<div class="row">
						<div class="col-md-3" id="navbar-spy">
						<!-- Docs navigation -->
								<ul  data-spy="affix" class="nav nav-pills flex-column affix" role="navigation">
									<li class="nav-item"><a class="nav-link" href="#configuration-format">Configuration format</a></li>
									<li class="nav-item"><a class="nav-link" href="#common-sections">Common sections</a></li>
									<li class="nav-item"><a class="nav-link" href="#global-section">Global section</a></li>
									<li class="nav-item"><a class="nav-link" href="#clamav-section">Clamav section</a></li>
									<li class="nav-item"><a class="nav-link" href="#spamd-section">Spamd section</a></li>
									<li class="nav-item"><a class="nav-link" href="#redis-section">Redis section</a></li>
									<li class="nav-item"><a class="nav-link" href="#greylisting-section">Greylisting section</a></li>
									<li class="nav-item"><a class="nav-link" href="#limits-section">Limits section</a></li>
									<li class="nav-item"><a class="nav-link" href="#dkim-section">DKIM section</a></li>
									<li class="nav-item"><a class="nav-link" href="#the-order-of-checks">The order of checks</a></li>
									<li class="nav-item"><a class="nav-link" href="#keys-used-in-redis">Keys used in redis</a></li>
								</ul>
						</div>
						<div class="col-md-9 px-4">
								<div class="linkify-headers">
								          {{ content }}
								</div>
						</div>
				</div> <!-- row -->
		</div> <!-- /container -->
{% include bottom.html %}
</body>
</html>
